





/* tecnologias */

/* .tec-card {
    position: relative;
    height: 600px;
}

.tec-img img {
    margin-left: 4em;
    width: 300px;
    height: 300px;



} */




/* Portfolio */

.carousel-control-prev {
    margin-left: -7rem;
}



.carousel-control-next {
    margin-right: -7rem;
}

.carousel-indicators {
    margin-bottom: -35px;
}



@media (max-width:1700px) {
    .carousel-control-prev {
        margin-left: 0;
     
    }
    
    
    
    .carousel-control-next {
        margin-right: 0;
    }

    .video {
        width: 80%;
    }


}

